.btnFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30vh;
  /* justify-content: center; */
}
.btn {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  line-height: 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}
@media (min-width: 600px) {
  .btn {
    margin: 0 3em 1.2em;
  }
}
.btn:hover {
  text-decoration: none;
  color: #fff;
  border: 0px;
}

.btn-2 {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  border: 0px;
}
button .btn-2:focus {
  outline: none !important;
}
.btn-2:after {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 2px;
  background: #f7f7f7;
  /* border: 0px; */
}
.btn-2:hover {
  cursor: pointer;
}
.btn-2:hover:after {
  width: 100%;
  left: 0;
}
.btn-2:focus {
  box-shadow: none;
}
.active-bottom {
  border-bottom: 2px solid white;
}

.event-img {
  max-width: 100vw;
}

@media (min-width: 960px) {
  .event-img {
    max-width: 30vw;
  }
}

.EventDetail-eventsCard-3 {
  margin-left: 20vw !important;
}

.EventDetail-tabRoot-5{
  background-color: #1b2d50;
}