.gallery-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 0;
}

.gallery-image-wrapper {
  position: relative;
  width: 40%;
  aspect-ratio: 3/2;
  padding: 50px;
}

.gallery-text-wrapper {
  position: relative;
  width: 40%;
  padding: 50px;
}

.gallery-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.gallery-text {
  position: relative;
  width: 100%;
}

.image1 {
  background-image: url("../../assets/Gallery1.jpg");
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(218, 165, 32, 0.37);
  left: 10rem;
  background-size: cover;
  background-position: center;
  z-index: 50;
  /* transform: rotate(15deg); */
}

.image2 {
  background-image: url("../../assets/Gallery2.jpg");
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(218, 165, 32, 0.37);
  z-index: 30;
  left: 5rem;
  background-size: cover;
  background-position: center;
  /* transform: rotate(10deg); */
}

.image3 {
  background-image: url("../../assets/Gallery3.jpg");
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(218, 165, 32, 0.37);
  z-index: 10;
  background-size: cover;
  background-position: center;
  /* transform: rotate(-10deg); */
}
/* .gallery-image:hover .image1,
.image2,
.image3:not(:hover) {
  transform: scale(0.9);
  opacity: 1;
} */

.image1:hover {
  z-index: 60;
  transform: scale(1.1) rotate(-10deg);
}
.image2:hover {
  z-index: 60;
  transform: scale(1.1) rotate(-10deg);
}
.image3:hover {
  z-index: 60;
  transform: scale(1.1) rotate(-10deg);
}

.stomp {
  animation: 0.4s ease-in-out 0.1s stomp-animation;
}

@keyframes stomp-animation {
  0% {
    transform: scale(1.3);
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
