.film-section-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.film-strip {
  position: relative;
  display: flex;
  background-color: goldenrod;
  flex-flow: row nowrap;
  width: max-content;
  margin: 10px;
  z-index: 100;
}

.film-strip-images-wrapper {
  display: flex;
  border-top: 6px dashed black;
  border-bottom: 6px dashed black;
  margin: 5px;
}

.film-strip-image img {
  height: 150px;
  margin: 5px;
  object-fit: cover;
  border-radius: 4%;
}

.back1 {
  z-index: 1;
  transform: translateX(-70vw) translateY(40vh) rotate(-60deg);
  opacity: 0.3;
}

.back2 {
  z-index: 2;
  transform: translateX(-5vw) translateY(40vh) rotate(38deg);
  opacity: 0.3;
}

.front {
  z-index: 3;
  transform: translateX(-82vw) translateY(0vh) rotate(-12deg);
  animation: 3s ease-in-out 0s 1 slide-front;
}

.front img {
  height: 200px;
}

@media screen and (max-width: 400px) {
  .front img {
    height: 100px;
  }
  .front {
    z-index: 3;
    transform: translateX(-80vw) translateY(-15vh) rotate(-12deg);
    animation: 3s ease-in-out 0s 1 slide-front;
  }
  .back2 {
    z-index: 2;
    transform: translateX(-36vw) translateY(41vh) rotate(38deg);
    opacity: 0.3;
  }
}

@media screen and (max-width: 600px) {
  .front img {
    height: 125px;
  }
  .front {
    z-index: 3;
    transform: translateX(-115vw) translateY(-4vh) rotate(-10deg);
    animation: 3s ease-in-out 0s 1 slide-front;
  }
  .back2 {
    z-index: 2;
    transform: translateX(-40vw) translateY(40vh) rotate(40deg);
    opacity: 0.3;
  }
}
@media screen and (max-width: 800px) {
  .front img {
    height: 125px;
  }
  .front {
    z-index: 3;
    transform: translateX(-115vw) translateY(-4vh) rotate(-10deg);
    animation: 3s ease-in-out 0s 1 slide-front;
  }
  .back2 {
    z-index: 2;
    transform: translateX(-19vw) translateY(33vh) rotate(43deg);
    opacity: 0.3;
  }
  .back1 {
    z-index: 2;
    transform: translateX(-143vw) translateY(41vh) rotate(-61deg);
    opacity: 0.3;
  }
}
@keyframes slide-front {
  from {
    transform: translateX(calc(-80vw + (120 * 0.5vw)))
      translateY(calc(-10vh - (120 * 0.2vh))) rotate(-12deg);
  }

  33.33% {
    transform: translateX(calc(-80vw + (55 * 0.5vw)))
      translateY(calc(-10vh - (55 * 0.2vh))) rotate(-12deg);
  }

  66.66% {
    transform: translateX(calc(-80vw + (65 * 0.5vw)))
      translateY(calc(-10vh - (65 * 0.2vh))) rotate(-12deg);
  }

  to {
    transform: translateX(-80vw) translateY(-10vh) rotate(-12deg);
  }
}
