
.gallery-wrapper {
    width: 100%;
    min-height: 100vh;
    top: 80px !important;
    margin-top: 0;
    margin-bottom: 200px;
}

.gallery-wrapper .image-scroll-box {
    position: absolute;
    background-color: transparent;
    width: 45%;
    margin-top: 5rem;
    margin-left: 15%;
}

.gallery-wrapper .image-scroll-box img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 2%;
}

.scroll-img2 {
    transform: rotate(-12deg);
}

.scroll-img3 {
    transform: rotate(14deg);
}

.scroll-img4 {
    transform: rotate(-7deg);
}

.scroll-img5 {
    transform: rotate(9deg);
}



.headings {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 120px;
    right: 120px;
    top: 300px;
    transform: translate(-50%, -50%);
    color: aliceblue;
}

.headings p {
    font-size: xx-small;
    padding-top: 1rem;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .headings {
        right: inherit;
        top: inherit;
        left: 50%;
        flex-flow: column nowrap;
        align-items: center;
    }

    .headings p {
        padding: 10px;
    }

    .spacer {
        position: relative;
        height: 300px;
    }

    .gallery-wrapper .image-scroll-box {
        width: 80%;
        margin-left: 10%;
        margin-top: 0;
    }
}

@media screen and (max-width: 1000px) {
    .headings {
        right: inherit;
        top: inherit;
        width: 300px;
        left: 50%;
        flex-flow: column nowrap;
        align-items: center;
    }

    .headings p {
        padding: 10px;
    }

    .spacer {
        position: relative;
        height: 300px;
    }

    .gallery-wrapper .image-scroll-box {
        width: 80%;
        margin-left: 10%;
        margin-top: 0;
    }
}

@media screen and (min-width: 1000px) {
    .headings {
        scale: 1.3;
    }
}