.past-performers-section {
  width: 85%;
  color: white;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1180px) {
  .past-performers-section {
    width: 100%;
    height: auto;
  }
}
