@import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap'); 
.demo a {
  /* position: absolute; */
  top: 60px;
  left: 50%;
  z-index: 205;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}
#scroll_down a {
  padding-top: 80px;
}
#scroll_down a span {
  /* position: absolute; */
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgba(255, 255, 255, 0.475);
  border-bottom: 1px solid rgba(255, 255, 255, 0.475);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#scroll_down a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#scroll_down a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#scroll_down a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 430px){
  .col-12{
    font-size: 1.4rem;
  }
  .title{
    font-size: 1.8rem;
  }
}

@media (max-width: 300px){
  .col-12{
    font-size: 1.1rem;
  }
  .title{
    font-size: 1.4rem;
  }

}
/* Floating icon */

/* .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFD700;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px rgba(84, 149, 58, 0.704);
  z-index:100;
}

.my-float{
	margin-top:16px;
}

@media screen and (max-width: 768px) {
  .float{
    display: none;
  }
} */
/* .herosection {
 height: 100vh;
} */
/* .herosection img{
  height: 100%;
  width: 100%;
} */
/* .herosection h1 {
  font-size: 250px;
  color: rgba(255, 255, 255, 0.1);
  background-image: url('../../assets/multicolored_painting2.jpg');
  top: 500px;
  left: 500px;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 30s linear infinite;
} */

.patterns {
 height: 100vh;
}

text {
 /* vertical-align: middle; */
 font-family: Lora;
 letter-spacing: 10px;
 stroke:  #FFBC00;
 font-size: 250px;
 font-weight: 700;
 stroke-width: 3;
 animation: textAnimate 3s infinite alternate;
 
}
@keyframes textAnimate {
 0% {
   stroke-dasharray: 0 50%;
   stroke-dashoffset:  20%; 
    fill:  #FFBC00; 
   
 }
 
 100% {
   stroke-dasharray: 50% 0;
   stroke-dashoffstet: -20%;
   fill: hsla(189, 68%, 75%,0%);
   

 }
 
}

.glow h2{
  position: absolute;
   top: 440px;
  color: #fff;
  margin-left: 800px;
  font-size: 70px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: 'Alex Brush', cursive;

}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6;
  }
}
@media screen and ( max-width: 1544px) {
  text{
    font-size: 225px;
  }
  .glow h2{
      
    margin-left: 550px;
  }
}
@media screen and ( max-width: 1349px) {
  .glow h2{
      
    margin-left: 450px;
  }
}
@media screen and ( max-width: 1247px) {
  .glow h2{
      
    margin-left: 400px;
  }
}
@media screen and ( max-width: 1214px) {
  text{
    font-size: 200px;
  }
  .glow h2{
      
    margin-left: 330px;
  }
}
@media screen and ( max-width: 1195px) {
  .glow h2{
      
    margin-left: 300px;
  }
}
@media screen and ( max-width: 1145px) {
   text{
    font-size: 175px;
   }
  .glow h2{
      
    font-size: 50px;
    margin-left: 450px;
  }
}
@media screen and ( max-width: 1106px) {
  .glow h2{
      
    margin-left: 430px;
  }
}
@media screen and ( max-width: 1038px) {
  .glow h2{
      
    margin-left: 400px;
  }
}
@media screen and ( max-width: 986px) {
  text{
   font-size: 150px;
  }
 .glow h2{
     
   font-size: 40px;
   margin-left: 430px;
 }
}
@media screen and ( max-width: 905px) {
  .glow h2{
      
    font-size: 40px;
    margin-left: 390px;
  }
}
@media screen and ( max-width: 887px) {
  text{
   font-size: 125px;
  }
 .glow h2{
     
   font-size: 35px;
   margin-left: 360px;
 }
}
@media screen and ( max-width: 820px) {
  .glow h2{
    top: 600px;  
    font-size: 35px;
    margin-left: 330px;
  }
}
@media screen and ( max-width: 819px) {
  .glow h2{
    top: 440px;
    font-size: 35px;
    margin-left: 330px;
  }
}
@media screen and ( max-width: 768px) {
  .glow h2{
    top: 520px;
    font-size: 35px;
    margin-left: 330px;
  }
}
@media screen and ( max-width: 767px) {
  .glow h2{
    top: 440px;
    font-size: 35px;
    margin-left: 330px;
  }
}

@media screen and ( max-width: 752px) {
  text{
   font-size: 100px;
  }
 .glow h2{
     
   font-size: 35px;
   margin-left: 250px;
 }
}
@media screen and ( max-width: 683px) {
  .glow h2{
      
    font-size: 35px;
    margin-left: 220px;
  }
}
@media screen and ( max-width: 644px) {
  text{
   font-size: 75px;
   stroke-width: 2;
  }
 .glow h2{
     
   font-size: 30px;
   margin-left: 200px;
 }
}
@media screen and ( max-width: 561px) {
  .glow h2{    
    font-size: 30px;
    margin-left: 140px;
  }
}
@media screen and ( max-width: 519px) {
  text{
   font-size: 60px;
   stroke-width: 1;
  }
 .glow h2{
     
   font-size: 25px;
   margin-left: 155px;
 }
}
@media screen and ( max-width: 480px) {
  .glow h2{
      
    font-size: 25px;
    margin-left: 140px;
  }
}
@media screen and ( max-width: 450px) {
  .glow h2{
      
    font-size: 25px;
    margin-left: 120px;
  }
}
@media screen and ( max-width: 416px) {
  text{
   font-size: 50px;
   stroke-width: 1;
  }
 .glow h2{
     
   font-size: 20px;
   margin-left: 130px;
 }
}
@media screen and ( max-width: 414px) {
  text{
    font-size: 50px;
    stroke-width: 1;
  }
  .glow h2{   
    font-size: 25px;
    top: 460px;
    margin-left: 80px;
  }
}
@media screen and ( max-width: 412px) {
  text{
    font-size: 50px;
    stroke-width: 1;
  }
  .glow h2{   
    font-size: 25px;
    top: 470px;
    margin-left: 80px;
  }
}
@media screen and ( max-width: 412px) {
  text{
    font-size: 50px;
    stroke-width: 1;
  }
  .glow h2{   
    font-size: 25px;
    top: 440px;
    margin-left: 80px;
  }
}
@media screen and ( max-width: 390px) {
  text{
   font-size: 50px;
   stroke-width: 0.8;
  }
 .glow h2{
   font-size: 20px;
   margin-left: 120px;
 }
}

@media screen and ( max-width: 360px) {
  text{
   font-size: 50px;
   stroke-width: 0.8;
  }
 .glow h2{
   font-size: 20px;
   top: 380px;
   margin-left: 120px;
 }
}



/* moon bottom logo */

@media screen and (max-width: 760px){
  .Home-moon-4{
    display: none;
    /* height: 250px; */
    /* width: 300px; */
  }
  .moon{
    display: none;
  }
  
}

.btn-cont {
  text-align: center;
  /* margin-top: 200px; */
}
.btn-cont .btn {
  position: relative;
  padding: 20px 70px;
  border: 1px solid goldenrod;
  color: goldenrod;
  text-decoration: none;
  font-size: 1.125em;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}
.btn-cont .btn:hover {
  color: goldenrod;
  border: none;
}
.btn-cont .btn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
          animation: move1 1500ms infinite ease;
}
.btn-cont .btn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
          animation: move2 1500ms infinite ease;
}
.btn-cont .btn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
          animation: move3 1500ms infinite ease;
}
.btn-cont .btn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
          animation: move4 1500ms infinite ease;
}
.btn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: goldenrod;
  left: 0;
  bottom: 0;
}
.btn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: goldenrod;
  left: 0;
  top: 0;
}
.btn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: goldenrod;
  right: 0;
  top: 0;
}
.btn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: goldenrod;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}



@media only screen and (max-width: 760px){
  .btn-cont .btn{
    font-size: 20px;
  }
}



#stars {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 50s linear infinite;
  box-shadow: 779px 1331px #FFD700, 324px 42px #FFD700, 303px 586px #FFD700,
  1312px 276px #FFD700, 451px 625px #FFD700, 521px 1931px #FFD700, 1087px 1871px #FFD700,
  36px 1546px #FFD700, 132px 934px #FFD700, 1698px 901px #FFD700, 1418px 664px #FFD700,
  1448px 1157px #FFD700, 1084px 232px #FFD700, 347px 1776px #FFD700, 1722px 243px #FFD700,
  1629px 835px #FFD700, 479px 969px #FFD700, 1231px 960px #FFD700, 586px 384px #FFD700,
  164px 527px #FFD700, 8px 646px #FFD700, 1150px 1126px #FFD700, 665px 1357px #FFD700,
  1556px 1982px #FFD700, 1260px 1961px #FFD700, 1675px 1741px #FFD700,
  1843px 1514px #FFD700, 718px 1628px #FFD700, 242px 1343px #FFD700, 1497px 1880px #FFD700,
  1364px 230px #FFD700, 1739px 1302px #FFD700, 636px 959px #FFD700, 304px 686px #FFD700,
  614px 751px #FFD700, 1935px 816px #FFD700, 1428px 60px #FFD700, 355px 335px #FFD700,
  1594px 158px #FFD700, 90px 60px #FFD700, 1553px 162px #FFD700, 1239px 1825px #FFD700,
  1945px 587px #FFD700, 749px 1785px #FFD700, 1987px 1172px #FFD700, 1301px 1237px #FFD700,
  1039px 342px #FFD700, 1585px 1481px #FFD700, 995px 1048px #FFD700, 524px 932px #FFD700,
  214px 413px #FFD700, 1701px 1300px #FFD700, 1037px 1613px #FFD700, 1871px 996px #FFD700,
  1360px 1635px #FFD700, 1110px 1313px #FFD700, 412px 1783px #FFD700, 1949px 177px #FFD700,
  903px 1854px #FFD700, 700px 1936px #FFD700, 378px 125px #FFD700, 308px 834px #FFD700,
  1118px 962px #FFD700, 1350px 1929px #FFD700, 781px 1811px #FFD700, 561px 137px #FFD700,
  757px 1148px #FFD700, 1670px 1979px #FFD700, 343px 739px #FFD700, 945px 795px #FFD700,
  576px 1903px #FFD700, 1078px 1436px #FFD700, 1583px 450px #FFD700, 1366px 474px #FFD700,
  297px 1873px #FFD700, 192px 162px #FFD700, 1624px 1633px #FFD700, 59px 453px #FFD700,
  82px 1872px #FFD700, 1933px 498px #FFD700, 1966px 1974px #FFD700, 1975px 1688px #FFD700,
  779px 314px #FFD700, 1858px 1543px #FFD700, 73px 1507px #FFD700, 1693px 975px #FFD700,
  1683px 108px #FFD700, 1768px 1654px #FFD700, 654px 14px #FFD700, 494px 171px #FFD700,
  1689px 1895px #FFD700, 1660px 263px #FFD700, 1031px 903px #FFD700, 1203px 1393px #FFD700,
  1333px 1421px #FFD700, 1113px 41px #FFD700, 1206px 1645px #FFD700, 1325px 1635px #FFD700,
  142px 388px #FFD700, 572px 215px #FFD700, 1535px 296px #FFD700, 1419px 407px #FFD700,
  1379px 1003px #FFD700, 329px 469px #FFD700, 1791px 1652px #FFD700, 935px 1802px #FFD700,
  1330px 1820px #FFD700, 421px 1933px #FFD700, 828px 365px #FFD700, 275px 316px #FFD700,
  707px 960px #FFD700, 1605px 1554px #FFD700, 625px 58px #FFD700, 717px 1697px #FFD700,
  1669px 246px #FFD700, 1925px 322px #FFD700, 1154px 1803px #FFD700, 1929px 295px #FFD700,
  1248px 240px #FFD700, 1045px 1755px #FFD700, 166px 942px #FFD700, 1888px 1773px #FFD700,
  678px 1963px #FFD700, 1370px 569px #FFD700, 1974px 1400px #FFD700, 1786px 460px #FFD700,
  51px 307px #FFD700, 784px 1400px #FFD700, 730px 1258px #FFD700, 1712px 393px #FFD700,
  416px 170px #FFD700, 1797px 1932px #FFD700, 572px 219px #FFD700, 1557px 1856px #FFD700,
  218px 8px #FFD700, 348px 1334px #FFD700, 469px 413px #FFD700, 385px 1738px #FFD700,
  1357px 1818px #FFD700, 240px 942px #FFD700, 248px 1847px #FFD700, 1535px 806px #FFD700,
  236px 1514px #FFD700, 1429px 1556px #FFD700, 73px 1633px #FFD700, 1398px 1121px #FFD700,
  671px 1301px #FFD700, 1404px 1663px #FFD700, 740px 1018px #FFD700, 1600px 377px #FFD700,
  785px 514px #FFD700, 112px 1084px #FFD700, 1915px 1887px #FFD700, 1463px 1848px #FFD700,
  687px 1115px #FFD700, 1268px 1768px #FFD700, 1729px 1425px #FFD700,
  1284px 1022px #FFD700, 801px 974px #FFD700, 1975px 1317px #FFD700, 1354px 834px #FFD700,
  1446px 1484px #FFD700, 1283px 1786px #FFD700, 11px 523px #FFD700, 1842px 236px #FFD700,
  1355px 654px #FFD700, 429px 7px #FFD700, 1033px 1128px #FFD700, 157px 297px #FFD700,
  545px 635px #FFD700, 52px 1080px #FFD700, 827px 1520px #FFD700, 1121px 490px #FFD700,
  9px 309px #FFD700, 1744px 1586px #FFD700, 1014px 417px #FFD700, 1534px 524px #FFD700,
  958px 552px #FFD700, 1403px 1496px #FFD700, 387px 703px #FFD700, 1522px 548px #FFD700,
  1355px 282px #FFD700, 1532px 601px #FFD700, 1838px 790px #FFD700, 290px 259px #FFD700,
  295px 598px #FFD700, 1601px 539px #FFD700, 1561px 1272px #FFD700, 34px 1922px #FFD700,
  1024px 543px #FFD700, 467px 369px #FFD700, 722px 333px #FFD700, 1976px 1255px #FFD700,
  766px 983px #FFD700, 1582px 1285px #FFD700, 12px 512px #FFD700, 617px 1410px #FFD700,
  682px 577px #FFD700, 1334px 1438px #FFD700, 439px 327px #FFD700, 1617px 1661px #FFD700,
  673px 129px #FFD700, 794px 941px #FFD700, 1386px 1902px #FFD700, 37px 1353px #FFD700,
  1467px 1353px #FFD700, 416px 18px #FFD700, 187px 344px #FFD700, 200px 1898px #FFD700,
  1491px 1619px #FFD700, 811px 347px #FFD700, 924px 1827px #FFD700, 945px 217px #FFD700,
  1735px 1228px #FFD700, 379px 1890px #FFD700, 79px 761px #FFD700, 825px 1837px #FFD700,
  1980px 1558px #FFD700, 1308px 1573px #FFD700, 1488px 1726px #FFD700,
  382px 1208px #FFD700, 522px 595px #FFD700, 1277px 1898px #FFD700, 354px 552px #FFD700,
  161px 1784px #FFD700, 614px 251px #FFD700, 526px 1576px #FFD700, 17px 212px #FFD700,
  179px 996px #FFD700, 467px 1208px #FFD700, 1944px 1838px #FFD700, 1140px 1093px #FFD700,
  858px 1007px #FFD700, 200px 1064px #FFD700, 423px 1964px #FFD700, 1945px 439px #FFD700,
  1377px 689px #FFD700, 1120px 1437px #FFD700, 1876px 668px #FFD700, 907px 1324px #FFD700,
  343px 1976px #FFD700, 1816px 1501px #FFD700, 1849px 177px #FFD700, 647px 91px #FFD700,
  1984px 1012px #FFD700, 1336px 1300px #FFD700, 128px 648px #FFD700, 305px 1060px #FFD700,
  1324px 826px #FFD700, 1263px 1314px #FFD700, 1801px 629px #FFD700, 1614px 1555px #FFD700,
  1634px 90px #FFD700, 1603px 452px #FFD700, 891px 1984px #FFD700, 1556px 1906px #FFD700,
  121px 68px #FFD700, 1676px 1714px #FFD700, 516px 936px #FFD700, 1947px 1492px #FFD700,
  1455px 1519px #FFD700, 45px 602px #FFD700, 205px 1039px #FFD700, 793px 172px #FFD700,
  1562px 1739px #FFD700, 1056px 110px #FFD700, 1512px 379px #FFD700, 1795px 1621px #FFD700,
  1848px 607px #FFD700, 262px 1719px #FFD700, 477px 991px #FFD700, 483px 883px #FFD700,
  1239px 1197px #FFD700, 1496px 647px #FFD700, 1649px 25px #FFD700, 1491px 1946px #FFD700,
  119px 996px #FFD700, 179px 1472px #FFD700, 1341px 808px #FFD700, 1565px 1700px #FFD700,
  407px 1544px #FFD700, 1754px 357px #FFD700, 1288px 981px #FFD700, 902px 1997px #FFD700,
  1755px 1668px #FFD700, 186px 877px #FFD700, 1202px 1882px #FFD700, 461px 1213px #FFD700,
  1400px 748px #FFD700, 1969px 1899px #FFD700, 809px 522px #FFD700, 514px 1219px #FFD700,
  374px 275px #FFD700, 938px 1973px #FFD700, 357px 552px #FFD700, 144px 1722px #FFD700,
  1572px 912px #FFD700, 402px 1858px #FFD700, 1544px 1195px #FFD700, 667px 1257px #FFD700,
  727px 1496px #FFD700, 993px 232px #FFD700, 1772px 313px #FFD700, 1040px 1590px #FFD700,
  1204px 1973px #FFD700, 1268px 79px #FFD700, 1555px 1048px #FFD700, 986px 1707px #FFD700,
  978px 1710px #FFD700, 713px 360px #FFD700, 407px 863px #FFD700, 461px 736px #FFD700,
  284px 1608px #FFD700, 103px 430px #FFD700, 1283px 1319px #FFD700, 977px 1186px #FFD700,
  1966px 1516px #FFD700, 1287px 1129px #FFD700, 70px 1098px #FFD700, 1189px 889px #FFD700,
  1126px 1734px #FFD700, 309px 1292px #FFD700, 879px 764px #FFD700, 65px 473px #FFD700,
  1003px 1959px #FFD700, 658px 791px #FFD700, 402px 1576px #FFD700, 35px 622px #FFD700,
  529px 1589px #FFD700, 164px 666px #FFD700, 1876px 1290px #FFD700, 1541px 526px #FFD700,
  270px 1297px #FFD700, 440px 865px #FFD700, 1500px 802px #FFD700, 182px 1754px #FFD700,
  1264px 892px #FFD700, 272px 1249px #FFD700, 1289px 1535px #FFD700, 190px 1646px #FFD700,
  955px 242px #FFD700, 1456px 1597px #FFD700, 1727px 1983px #FFD700, 635px 801px #FFD700,
  226px 455px #FFD700, 1396px 1710px #FFD700, 849px 1863px #FFD700, 237px 1264px #FFD700,
  839px 140px #FFD700, 1122px 735px #FFD700, 1280px 15px #FFD700, 1318px 242px #FFD700,
  1819px 1148px #FFD700, 333px 1392px #FFD700, 1949px 553px #FFD700, 1878px 1332px #FFD700,
  467px 548px #FFD700, 1812px 1082px #FFD700, 1067px 193px #FFD700, 243px 156px #FFD700,
  483px 1616px #FFD700, 1714px 933px #FFD700, 759px 1800px #FFD700, 1822px 995px #FFD700,
  1877px 572px #FFD700, 581px 1084px #FFD700, 107px 732px #FFD700, 642px 1837px #FFD700,
  166px 1493px #FFD700, 1555px 198px #FFD700, 819px 307px #FFD700, 947px 345px #FFD700,
  827px 224px #FFD700, 927px 1394px #FFD700, 540px 467px #FFD700, 1093px 405px #FFD700,
  1140px 927px #FFD700, 130px 529px #FFD700, 33px 1980px #FFD700, 1147px 1663px #FFD700,
  1616px 1436px #FFD700, 528px 710px #FFD700, 798px 1100px #FFD700, 505px 1480px #FFD700,
  899px 641px #FFD700, 1909px 1949px #FFD700, 1311px 964px #FFD700, 979px 1301px #FFD700,
  1393px 969px #FFD700, 1793px 1886px #FFD700, 292px 357px #FFD700, 1196px 1718px #FFD700,
  1290px 1994px #FFD700, 537px 1973px #FFD700, 1181px 1674px #FFD700,
  1740px 1566px #FFD700, 1307px 265px #FFD700, 922px 522px #FFD700, 1892px 472px #FFD700,
  384px 1746px #FFD700, 392px 1098px #FFD700, 647px 548px #FFD700, 390px 1498px #FFD700,
  1246px 138px #FFD700, 730px 876px #FFD700, 192px 1472px #FFD700, 1790px 1789px #FFD700,
  928px 311px #FFD700, 1253px 1647px #FFD700, 747px 1921px #FFD700, 1561px 1025px #FFD700,
  1533px 1292px #FFD700, 1985px 195px #FFD700, 728px 729px #FFD700, 1712px 1936px #FFD700,
  512px 1717px #FFD700, 1528px 483px #FFD700, 313px 1642px #FFD700, 281px 1849px #FFD700,
  1212px 799px #FFD700, 435px 1191px #FFD700, 1422px 611px #FFD700, 1718px 1964px #FFD700,
  411px 944px #FFD700, 210px 636px #FFD700, 1502px 1295px #FFD700, 1434px 349px #FFD700,
  769px 60px #FFD700, 747px 1053px #FFD700, 789px 504px #FFD700, 1436px 1264px #FFD700,
  1893px 1225px #FFD700, 1394px 1788px #FFD700, 1108px 1317px #FFD700,
  1673px 1395px #FFD700, 854px 1010px #FFD700, 1705px 80px #FFD700, 1858px 148px #FFD700,
  1729px 344px #FFD700, 1388px 664px #FFD700, 895px 406px #FFD700, 1479px 157px #FFD700,
  1441px 1157px #FFD700, 552px 1900px #FFD700, 516px 364px #FFD700, 1647px 189px #FFD700,
  1427px 1071px #FFD700, 785px 729px #FFD700, 1080px 1710px #FFD700, 504px 204px #FFD700,
  1177px 1622px #FFD700, 657px 34px #FFD700, 1296px 1099px #FFD700, 248px 180px #FFD700,
  1212px 1568px #FFD700, 667px 1562px #FFD700, 695px 841px #FFD700, 1608px 1247px #FFD700,
  751px 882px #FFD700, 87px 167px #FFD700, 607px 1368px #FFD700, 1363px 1203px #FFD700,
  1836px 317px #FFD700, 1668px 1703px #FFD700, 830px 1154px #FFD700, 1721px 1398px #FFD700,
  1601px 1280px #FFD700, 976px 874px #FFD700, 1743px 254px #FFD700, 1020px 1815px #FFD700,
  1670px 1766px #FFD700, 1890px 735px #FFD700, 1379px 136px #FFD700, 1864px 695px #FFD700,
  206px 965px #FFD700, 1404px 1932px #FFD700, 1923px 1360px #FFD700, 247px 682px #FFD700,
  519px 1708px #FFD700, 645px 750px #FFD700, 1164px 1204px #FFD700, 834px 323px #FFD700,
  172px 1350px #FFD700, 213px 972px #FFD700, 1837px 190px #FFD700, 285px 1806px #FFD700,
  1047px 1299px #FFD700, 1548px 825px #FFD700, 1730px 324px #FFD700, 1346px 1909px #FFD700,
  772px 270px #FFD700, 345px 1190px #FFD700, 478px 1433px #FFD700, 1479px 25px #FFD700,
  1994px 1830px #FFD700, 1744px 732px #FFD700, 20px 1635px #FFD700, 690px 1795px #FFD700,
  1594px 569px #FFD700, 579px 245px #FFD700, 1398px 733px #FFD700, 408px 1352px #FFD700,
  1774px 120px #FFD700, 1152px 1370px #FFD700, 1698px 1810px #FFD700, 710px 1450px #FFD700,
  665px 286px #FFD700, 493px 1720px #FFD700, 786px 5px #FFD700, 637px 1140px #FFD700,
  764px 324px #FFD700, 927px 310px #FFD700, 938px 1424px #FFD700, 1884px 744px #FFD700,
  913px 462px #FFD700, 1831px 1936px #FFD700, 1527px 249px #FFD700, 36px 1381px #FFD700,
  1597px 581px #FFD700, 1530px 355px #FFD700, 949px 459px #FFD700, 799px 828px #FFD700,
  242px 1471px #FFD700, 654px 797px #FFD700, 796px 594px #FFD700, 1365px 678px #FFD700,
  752px 23px #FFD700, 1630px 541px #FFD700, 982px 72px #FFD700, 1733px 1831px #FFD700,
  21px 412px #FFD700, 775px 998px #FFD700, 335px 1945px #FFD700, 264px 583px #FFD700,
  158px 1311px #FFD700, 528px 164px #FFD700, 1978px 574px #FFD700, 717px 1203px #FFD700,
  734px 1591px #FFD700, 1555px 820px #FFD700, 16px 1943px #FFD700, 1625px 1177px #FFD700,
  1236px 690px #FFD700, 1585px 1590px #FFD700, 1737px 1728px #FFD700, 721px 698px #FFD700,
  1804px 1186px #FFD700, 166px 980px #FFD700, 1850px 230px #FFD700, 330px 1712px #FFD700,
  95px 797px #FFD700, 1948px 1078px #FFD700, 469px 939px #FFD700, 1269px 1899px #FFD700,
  955px 1220px #FFD700, 1137px 1075px #FFD700, 312px 1293px #FFD700, 986px 1762px #FFD700,
  1103px 1238px #FFD700, 428px 1993px #FFD700, 355px 570px #FFD700, 977px 1836px #FFD700,
  1395px 1092px #FFD700, 276px 913px #FFD700, 1743px 656px #FFD700, 773px 502px #FFD700,
  1686px 1322px #FFD700, 1516px 1945px #FFD700, 1334px 501px #FFD700, 266px 156px #FFD700,
  455px 655px #FFD700, 798px 72px #FFD700, 1059px 1259px #FFD700, 1402px 1687px #FFD700,
  236px 1329px #FFD700, 1455px 786px #FFD700, 146px 1228px #FFD700, 1851px 823px #FFD700,
  1062px 100px #FFD700, 1220px 953px #FFD700, 20px 1826px #FFD700, 36px 1063px #FFD700,
  1525px 338px #FFD700, 790px 1521px #FFD700, 741px 1099px #FFD700, 288px 1489px #FFD700,
  700px 1060px #FFD700, 390px 1071px #FFD700, 411px 1036px #FFD700, 1853px 1072px #FFD700,
  1446px 1085px #FFD700, 1164px 874px #FFD700, 924px 925px #FFD700, 291px 271px #FFD700,
  1257px 1964px #FFD700, 1580px 1352px #FFD700, 1507px 1216px #FFD700, 211px 956px #FFD700,
  985px 1195px #FFD700, 975px 1640px #FFD700, 518px 101px #FFD700, 663px 1395px #FFD700,
  914px 532px #FFD700, 145px 1320px #FFD700, 69px 1397px #FFD700, 982px 523px #FFD700,
  257px 725px #FFD700, 1599px 831px #FFD700, 1636px 1513px #FFD700, 1250px 1158px #FFD700,
  1132px 604px #FFD700, 183px 102px #FFD700, 1057px 318px #FFD700, 1247px 1835px #FFD700,
  1983px 1110px #FFD700, 1077px 1455px #FFD700, 921px 1770px #FFD700, 806px 1350px #FFD700,
  1938px 1992px #FFD700, 855px 1260px #FFD700, 902px 1345px #FFD700, 658px 1908px #FFD700,
  1845px 679px #FFD700, 712px 1482px #FFD700, 595px 950px #FFD700, 1784px 1992px #FFD700,
  1847px 1785px #FFD700, 691px 1004px #FFD700, 175px 1179px #FFD700, 1666px 1911px #FFD700,
  41px 61px #FFD700, 971px 1080px #FFD700, 1830px 1450px #FFD700, 1351px 1518px #FFD700,
  1257px 99px #FFD700, 1395px 1498px #FFD700, 1117px 252px #FFD700, 1779px 597px #FFD700,
  1346px 729px #FFD700, 1108px 1144px #FFD700, 402px 691px #FFD700, 72px 496px #FFD700,
  1673px 1604px #FFD700, 1497px 974px #FFD700, 1865px 1664px #FFD700, 88px 806px #FFD700,
  918px 77px #FFD700, 244px 1118px #FFD700, 256px 1820px #FFD700, 1851px 1840px #FFD700,
  605px 1851px #FFD700, 634px 383px #FFD700, 865px 37px #FFD700, 943px 1024px #FFD700,
  1951px 177px #FFD700, 1097px 523px #FFD700, 985px 1700px #FFD700, 1243px 122px #FFD700,
  768px 1070px #FFD700, 468px 194px #FFD700, 320px 1867px #FFD700, 1850px 185px #FFD700,
  380px 1616px #FFD700, 468px 1294px #FFD700, 1122px 1743px #FFD700, 884px 299px #FFD700,
  1300px 1917px #FFD700, 1860px 396px #FFD700, 1270px 990px #FFD700, 529px 733px #FFD700,
  1975px 1347px #FFD700, 1885px 685px #FFD700, 226px 506px #FFD700, 651px 878px #FFD700,
  1323px 680px #FFD700, 1284px 680px #FFD700, 238px 1967px #FFD700, 911px 174px #FFD700,
  1111px 521px #FFD700, 1150px 85px #FFD700, 794px 502px #FFD700, 484px 1856px #FFD700,
  1809px 368px #FFD700, 112px 953px #FFD700, 590px 1009px #FFD700, 1655px 311px #FFD700,
  100px 1026px #FFD700, 1803px 352px #FFD700, 865px 306px #FFD700, 1077px 1019px #FFD700,
  1335px 872px #FFD700, 1647px 1298px #FFD700, 1233px 1387px #FFD700, 698px 1036px #FFD700,
  659px 1860px #FFD700, 388px 1412px #FFD700, 1212px 458px #FFD700, 755px 1468px #FFD700,
  696px 1654px #FFD700, 1144px 60px #FFD700;
}

#stars:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 779px 1331px #FFD700, 324px 42px #FFD700, 303px 586px #FFD700,
  1312px 276px #FFD700, 451px 625px #FFD700, 521px 1931px #FFD700, 1087px 1871px #FFD700,
  36px 1546px #FFD700, 132px 934px #FFD700, 1698px 901px #FFD700, 1418px 664px #FFD700,
  1448px 1157px #FFD700, 1084px 232px #FFD700, 347px 1776px #FFD700, 1722px 243px #FFD700,
  1629px 835px #FFD700, 479px 969px #FFD700, 1231px 960px #FFD700, 586px 384px #FFD700,
  164px 527px #FFD700, 8px 646px #FFD700, 1150px 1126px #FFD700, 665px 1357px #FFD700,
  1556px 1982px #FFD700, 1260px 1961px #FFD700, 1675px 1741px #FFD700,
  1843px 1514px #FFD700, 718px 1628px #FFD700, 242px 1343px #FFD700, 1497px 1880px #FFD700,
  1364px 230px #FFD700, 1739px 1302px #FFD700, 636px 959px #FFD700, 304px 686px #FFD700,
  614px 751px #FFD700, 1935px 816px #FFD700, 1428px 60px #FFD700, 355px 335px #FFD700,
  1594px 158px #FFD700, 90px 60px #FFD700, 1553px 162px #FFD700, 1239px 1825px #FFD700,
  1945px 587px #FFD700, 749px 1785px #FFD700, 1987px 1172px #FFD700, 1301px 1237px #FFD700,
  1039px 342px #FFD700, 1585px 1481px #FFD700, 995px 1048px #FFD700, 524px 932px #FFD700,
  214px 413px #FFD700, 1701px 1300px #FFD700, 1037px 1613px #FFD700, 1871px 996px #FFD700,
  1360px 1635px #FFD700, 1110px 1313px #FFD700, 412px 1783px #FFD700, 1949px 177px #FFD700,
  903px 1854px #FFD700, 700px 1936px #FFD700, 378px 125px #FFD700, 308px 834px #FFD700,
  1118px 962px #FFD700, 1350px 1929px #FFD700, 781px 1811px #FFD700, 561px 137px #FFD700,
  757px 1148px #FFD700, 1670px 1979px #FFD700, 343px 739px #FFD700, 945px 795px #FFD700,
  576px 1903px #FFD700, 1078px 1436px #FFD700, 1583px 450px #FFD700, 1366px 474px #FFD700,
  297px 1873px #FFD700, 192px 162px #FFD700, 1624px 1633px #FFD700, 59px 453px #FFD700,
  82px 1872px #FFD700, 1933px 498px #FFD700, 1966px 1974px #FFD700, 1975px 1688px #FFD700,
  779px 314px #FFD700, 1858px 1543px #FFD700, 73px 1507px #FFD700, 1693px 975px #FFD700,
  1683px 108px #FFD700, 1768px 1654px #FFD700, 654px 14px #FFD700, 494px 171px #FFD700,
  1689px 1895px #FFD700, 1660px 263px #FFD700, 1031px 903px #FFD700, 1203px 1393px #FFD700,
  1333px 1421px #FFD700, 1113px 41px #FFD700, 1206px 1645px #FFD700, 1325px 1635px #FFD700,
  142px 388px #FFD700, 572px 215px #FFD700, 1535px 296px #FFD700, 1419px 407px #FFD700,
  1379px 1003px #FFD700, 329px 469px #FFD700, 1791px 1652px #FFD700, 935px 1802px #FFD700,
  1330px 1820px #FFD700, 421px 1933px #FFD700, 828px 365px #FFD700, 275px 316px #FFD700,
  707px 960px #FFD700, 1605px 1554px #FFD700, 625px 58px #FFD700, 717px 1697px #FFD700,
  1669px 246px #FFD700, 1925px 322px #FFD700, 1154px 1803px #FFD700, 1929px 295px #FFD700,
  1248px 240px #FFD700, 1045px 1755px #FFD700, 166px 942px #FFD700, 1888px 1773px #FFD700,
  678px 1963px #FFD700, 1370px 569px #FFD700, 1974px 1400px #FFD700, 1786px 460px #FFD700,
  51px 307px #FFD700, 784px 1400px #FFD700, 730px 1258px #FFD700, 1712px 393px #FFD700,
  416px 170px #FFD700, 1797px 1932px #FFD700, 572px 219px #FFD700, 1557px 1856px #FFD700,
  218px 8px #FFD700, 348px 1334px #FFD700, 469px 413px #FFD700, 385px 1738px #FFD700,
  1357px 1818px #FFD700, 240px 942px #FFD700, 248px 1847px #FFD700, 1535px 806px #FFD700,
  236px 1514px #FFD700, 1429px 1556px #FFD700, 73px 1633px #FFD700, 1398px 1121px #FFD700,
  671px 1301px #FFD700, 1404px 1663px #FFD700, 740px 1018px #FFD700, 1600px 377px #FFD700,
  785px 514px #FFD700, 112px 1084px #FFD700, 1915px 1887px #FFD700, 1463px 1848px #FFD700,
  687px 1115px #FFD700, 1268px 1768px #FFD700, 1729px 1425px #FFD700,
  1284px 1022px #FFD700, 801px 974px #FFD700, 1975px 1317px #FFD700, 1354px 834px #FFD700,
  1446px 1484px #FFD700, 1283px 1786px #FFD700, 11px 523px #FFD700, 1842px 236px #FFD700,
  1355px 654px #FFD700, 429px 7px #FFD700, 1033px 1128px #FFD700, 157px 297px #FFD700,
  545px 635px #FFD700, 52px 1080px #FFD700, 827px 1520px #FFD700, 1121px 490px #FFD700,
  9px 309px #FFD700, 1744px 1586px #FFD700, 1014px 417px #FFD700, 1534px 524px #FFD700,
  958px 552px #FFD700, 1403px 1496px #FFD700, 387px 703px #FFD700, 1522px 548px #FFD700,
  1355px 282px #FFD700, 1532px 601px #FFD700, 1838px 790px #FFD700, 290px 259px #FFD700,
  295px 598px #FFD700, 1601px 539px #FFD700, 1561px 1272px #FFD700, 34px 1922px #FFD700,
  1024px 543px #FFD700, 467px 369px #FFD700, 722px 333px #FFD700, 1976px 1255px #FFD700,
  766px 983px #FFD700, 1582px 1285px #FFD700, 12px 512px #FFD700, 617px 1410px #FFD700,
  682px 577px #FFD700, 1334px 1438px #FFD700, 439px 327px #FFD700, 1617px 1661px #FFD700,
  673px 129px #FFD700, 794px 941px #FFD700, 1386px 1902px #FFD700, 37px 1353px #FFD700,
  1467px 1353px #FFD700, 416px 18px #FFD700, 187px 344px #FFD700, 200px 1898px #FFD700,
  1491px 1619px #FFD700, 811px 347px #FFD700, 924px 1827px #FFD700, 945px 217px #FFD700,
  1735px 1228px #FFD700, 379px 1890px #FFD700, 79px 761px #FFD700, 825px 1837px #FFD700,
  1980px 1558px #FFD700, 1308px 1573px #FFD700, 1488px 1726px #FFD700,
  382px 1208px #FFD700, 522px 595px #FFD700, 1277px 1898px #FFD700, 354px 552px #FFD700,
  161px 1784px #FFD700, 614px 251px #FFD700, 526px 1576px #FFD700, 17px 212px #FFD700,
  179px 996px #FFD700, 467px 1208px #FFD700, 1944px 1838px #FFD700, 1140px 1093px #FFD700,
  858px 1007px #FFD700, 200px 1064px #FFD700, 423px 1964px #FFD700, 1945px 439px #FFD700,
  1377px 689px #FFD700, 1120px 1437px #FFD700, 1876px 668px #FFD700, 907px 1324px #FFD700,
  343px 1976px #FFD700, 1816px 1501px #FFD700, 1849px 177px #FFD700, 647px 91px #FFD700,
  1984px 1012px #FFD700, 1336px 1300px #FFD700, 128px 648px #FFD700, 305px 1060px #FFD700,
  1324px 826px #FFD700, 1263px 1314px #FFD700, 1801px 629px #FFD700, 1614px 1555px #FFD700,
  1634px 90px #FFD700, 1603px 452px #FFD700, 891px 1984px #FFD700, 1556px 1906px #FFD700,
  121px 68px #FFD700, 1676px 1714px #FFD700, 516px 936px #FFD700, 1947px 1492px #FFD700,
  1455px 1519px #FFD700, 45px 602px #FFD700, 205px 1039px #FFD700, 793px 172px #FFD700,
  1562px 1739px #FFD700, 1056px 110px #FFD700, 1512px 379px #FFD700, 1795px 1621px #FFD700,
  1848px 607px #FFD700, 262px 1719px #FFD700, 477px 991px #FFD700, 483px 883px #FFD700,
  1239px 1197px #FFD700, 1496px 647px #FFD700, 1649px 25px #FFD700, 1491px 1946px #FFD700,
  119px 996px #FFD700, 179px 1472px #FFD700, 1341px 808px #FFD700, 1565px 1700px #FFD700,
  407px 1544px #FFD700, 1754px 357px #FFD700, 1288px 981px #FFD700, 902px 1997px #FFD700,
  1755px 1668px #FFD700, 186px 877px #FFD700, 1202px 1882px #FFD700, 461px 1213px #FFD700,
  1400px 748px #FFD700, 1969px 1899px #FFD700, 809px 522px #FFD700, 514px 1219px #FFD700,
  374px 275px #FFD700, 938px 1973px #FFD700, 357px 552px #FFD700, 144px 1722px #FFD700,
  1572px 912px #FFD700, 402px 1858px #FFD700, 1544px 1195px #FFD700, 667px 1257px #FFD700,
  727px 1496px #FFD700, 993px 232px #FFD700, 1772px 313px #FFD700, 1040px 1590px #FFD700,
  1204px 1973px #FFD700, 1268px 79px #FFD700, 1555px 1048px #FFD700, 986px 1707px #FFD700,
  978px 1710px #FFD700, 713px 360px #FFD700, 407px 863px #FFD700, 461px 736px #FFD700,
  284px 1608px #FFD700, 103px 430px #FFD700, 1283px 1319px #FFD700, 977px 1186px #FFD700,
  1966px 1516px #FFD700, 1287px 1129px #FFD700, 70px 1098px #FFD700, 1189px 889px #FFD700,
  1126px 1734px #FFD700, 309px 1292px #FFD700, 879px 764px #FFD700, 65px 473px #FFD700,
  1003px 1959px #FFD700, 658px 791px #FFD700, 402px 1576px #FFD700, 35px 622px #FFD700,
  529px 1589px #FFD700, 164px 666px #FFD700, 1876px 1290px #FFD700, 1541px 526px #FFD700,
  270px 1297px #FFD700, 440px 865px #FFD700, 1500px 802px #FFD700, 182px 1754px #FFD700,
  1264px 892px #FFD700, 272px 1249px #FFD700, 1289px 1535px #FFD700, 190px 1646px #FFD700,
  955px 242px #FFD700, 1456px 1597px #FFD700, 1727px 1983px #FFD700, 635px 801px #FFD700,
  226px 455px #FFD700, 1396px 1710px #FFD700, 849px 1863px #FFD700, 237px 1264px #FFD700,
  839px 140px #FFD700, 1122px 735px #FFD700, 1280px 15px #FFD700, 1318px 242px #FFD700,
  1819px 1148px #FFD700, 333px 1392px #FFD700, 1949px 553px #FFD700, 1878px 1332px #FFD700,
  467px 548px #FFD700, 1812px 1082px #FFD700, 1067px 193px #FFD700, 243px 156px #FFD700,
  483px 1616px #FFD700, 1714px 933px #FFD700, 759px 1800px #FFD700, 1822px 995px #FFD700,
  1877px 572px #FFD700, 581px 1084px #FFD700, 107px 732px #FFD700, 642px 1837px #FFD700,
  166px 1493px #FFD700, 1555px 198px #FFD700, 819px 307px #FFD700, 947px 345px #FFD700,
  827px 224px #FFD700, 927px 1394px #FFD700, 540px 467px #FFD700, 1093px 405px #FFD700,
  1140px 927px #FFD700, 130px 529px #FFD700, 33px 1980px #FFD700, 1147px 1663px #FFD700,
  1616px 1436px #FFD700, 528px 710px #FFD700, 798px 1100px #FFD700, 505px 1480px #FFD700,
  899px 641px #FFD700, 1909px 1949px #FFD700, 1311px 964px #FFD700, 979px 1301px #FFD700,
  1393px 969px #FFD700, 1793px 1886px #FFD700, 292px 357px #FFD700, 1196px 1718px #FFD700,
  1290px 1994px #FFD700, 537px 1973px #FFD700, 1181px 1674px #FFD700,
  1740px 1566px #FFD700, 1307px 265px #FFD700, 922px 522px #FFD700, 1892px 472px #FFD700,
  384px 1746px #FFD700, 392px 1098px #FFD700, 647px 548px #FFD700, 390px 1498px #FFD700,
  1246px 138px #FFD700, 730px 876px #FFD700, 192px 1472px #FFD700, 1790px 1789px #FFD700,
  928px 311px #FFD700, 1253px 1647px #FFD700, 747px 1921px #FFD700, 1561px 1025px #FFD700,
  1533px 1292px #FFD700, 1985px 195px #FFD700, 728px 729px #FFD700, 1712px 1936px #FFD700,
  512px 1717px #FFD700, 1528px 483px #FFD700, 313px 1642px #FFD700, 281px 1849px #FFD700,
  1212px 799px #FFD700, 435px 1191px #FFD700, 1422px 611px #FFD700, 1718px 1964px #FFD700,
  411px 944px #FFD700, 210px 636px #FFD700, 1502px 1295px #FFD700, 1434px 349px #FFD700,
  769px 60px #FFD700, 747px 1053px #FFD700, 789px 504px #FFD700, 1436px 1264px #FFD700,
  1893px 1225px #FFD700, 1394px 1788px #FFD700, 1108px 1317px #FFD700,
  1673px 1395px #FFD700, 854px 1010px #FFD700, 1705px 80px #FFD700, 1858px 148px #FFD700,
  1729px 344px #FFD700, 1388px 664px #FFD700, 895px 406px #FFD700, 1479px 157px #FFD700,
  1441px 1157px #FFD700, 552px 1900px #FFD700, 516px 364px #FFD700, 1647px 189px #FFD700,
  1427px 1071px #FFD700, 785px 729px #FFD700, 1080px 1710px #FFD700, 504px 204px #FFD700,
  1177px 1622px #FFD700, 657px 34px #FFD700, 1296px 1099px #FFD700, 248px 180px #FFD700,
  1212px 1568px #FFD700, 667px 1562px #FFD700, 695px 841px #FFD700, 1608px 1247px #FFD700,
  751px 882px #FFD700, 87px 167px #FFD700, 607px 1368px #FFD700, 1363px 1203px #FFD700,
  1836px 317px #FFD700, 1668px 1703px #FFD700, 830px 1154px #FFD700, 1721px 1398px #FFD700,
  1601px 1280px #FFD700, 976px 874px #FFD700, 1743px 254px #FFD700, 1020px 1815px #FFD700,
  1670px 1766px #FFD700, 1890px 735px #FFD700, 1379px 136px #FFD700, 1864px 695px #FFD700,
  206px 965px #FFD700, 1404px 1932px #FFD700, 1923px 1360px #FFD700, 247px 682px #FFD700,
  519px 1708px #FFD700, 645px 750px #FFD700, 1164px 1204px #FFD700, 834px 323px #FFD700,
  172px 1350px #FFD700, 213px 972px #FFD700, 1837px 190px #FFD700, 285px 1806px #FFD700,
  1047px 1299px #FFD700, 1548px 825px #FFD700, 1730px 324px #FFD700, 1346px 1909px #FFD700,
  772px 270px #FFD700, 345px 1190px #FFD700, 478px 1433px #FFD700, 1479px 25px #FFD700,
  1994px 1830px #FFD700, 1744px 732px #FFD700, 20px 1635px #FFD700, 690px 1795px #FFD700,
  1594px 569px #FFD700, 579px 245px #FFD700, 1398px 733px #FFD700, 408px 1352px #FFD700,
  1774px 120px #FFD700, 1152px 1370px #FFD700, 1698px 1810px #FFD700, 710px 1450px #FFD700,
  665px 286px #FFD700, 493px 1720px #FFD700, 786px 5px #FFD700, 637px 1140px #FFD700,
  764px 324px #FFD700, 927px 310px #FFD700, 938px 1424px #FFD700, 1884px 744px #FFD700,
  913px 462px #FFD700, 1831px 1936px #FFD700, 1527px 249px #FFD700, 36px 1381px #FFD700,
  1597px 581px #FFD700, 1530px 355px #FFD700, 949px 459px #FFD700, 799px 828px #FFD700,
  242px 1471px #FFD700, 654px 797px #FFD700, 796px 594px #FFD700, 1365px 678px #FFD700,
  752px 23px #FFD700, 1630px 541px #FFD700, 982px 72px #FFD700, 1733px 1831px #FFD700,
  21px 412px #FFD700, 775px 998px #FFD700, 335px 1945px #FFD700, 264px 583px #FFD700,
  158px 1311px #FFD700, 528px 164px #FFD700, 1978px 574px #FFD700, 717px 1203px #FFD700,
  734px 1591px #FFD700, 1555px 820px #FFD700, 16px 1943px #FFD700, 1625px 1177px #FFD700,
  1236px 690px #FFD700, 1585px 1590px #FFD700, 1737px 1728px #FFD700, 721px 698px #FFD700,
  1804px 1186px #FFD700, 166px 980px #FFD700, 1850px 230px #FFD700, 330px 1712px #FFD700,
  95px 797px #FFD700, 1948px 1078px #FFD700, 469px 939px #FFD700, 1269px 1899px #FFD700,
  955px 1220px #FFD700, 1137px 1075px #FFD700, 312px 1293px #FFD700, 986px 1762px #FFD700,
  1103px 1238px #FFD700, 428px 1993px #FFD700, 355px 570px #FFD700, 977px 1836px #FFD700,
  1395px 1092px #FFD700, 276px 913px #FFD700, 1743px 656px #FFD700, 773px 502px #FFD700,
  1686px 1322px #FFD700, 1516px 1945px #FFD700, 1334px 501px #FFD700, 266px 156px #FFD700,
  455px 655px #FFD700, 798px 72px #FFD700, 1059px 1259px #FFD700, 1402px 1687px #FFD700,
  236px 1329px #FFD700, 1455px 786px #FFD700, 146px 1228px #FFD700, 1851px 823px #FFD700,
  1062px 100px #FFD700, 1220px 953px #FFD700, 20px 1826px #FFD700, 36px 1063px #FFD700,
  1525px 338px #FFD700, 790px 1521px #FFD700, 741px 1099px #FFD700, 288px 1489px #FFD700,
  700px 1060px #FFD700, 390px 1071px #FFD700, 411px 1036px #FFD700, 1853px 1072px #FFD700,
  1446px 1085px #FFD700, 1164px 874px #FFD700, 924px 925px #FFD700, 291px 271px #FFD700,
  1257px 1964px #FFD700, 1580px 1352px #FFD700, 1507px 1216px #FFD700, 211px 956px #FFD700,
  985px 1195px #FFD700, 975px 1640px #FFD700, 518px 101px #FFD700, 663px 1395px #FFD700,
  914px 532px #FFD700, 145px 1320px #FFD700, 69px 1397px #FFD700, 982px 523px #FFD700,
  257px 725px #FFD700, 1599px 831px #FFD700, 1636px 1513px #FFD700, 1250px 1158px #FFD700,
  1132px 604px #FFD700, 183px 102px #FFD700, 1057px 318px #FFD700, 1247px 1835px #FFD700,
  1983px 1110px #FFD700, 1077px 1455px #FFD700, 921px 1770px #FFD700, 806px 1350px #FFD700,
  1938px 1992px #FFD700, 855px 1260px #FFD700, 902px 1345px #FFD700, 658px 1908px #FFD700,
  1845px 679px #FFD700, 712px 1482px #FFD700, 595px 950px #FFD700, 1784px 1992px #FFD700,
  1847px 1785px #FFD700, 691px 1004px #FFD700, 175px 1179px #FFD700, 1666px 1911px #FFD700,
  41px 61px #FFD700, 971px 1080px #FFD700, 1830px 1450px #FFD700, 1351px 1518px #FFD700,
  1257px 99px #FFD700, 1395px 1498px #FFD700, 1117px 252px #FFD700, 1779px 597px #FFD700,
  1346px 729px #FFD700, 1108px 1144px #FFD700, 402px 691px #FFD700, 72px 496px #FFD700,
  1673px 1604px #FFD700, 1497px 974px #FFD700, 1865px 1664px #FFD700, 88px 806px #FFD700,
  918px 77px #FFD700, 244px 1118px #FFD700, 256px 1820px #FFD700, 1851px 1840px #FFD700,
  605px 1851px #FFD700, 634px 383px #FFD700, 865px 37px #FFD700, 943px 1024px #FFD700,
  1951px 177px #FFD700, 1097px 523px #FFD700, 985px 1700px #FFD700, 1243px 122px #FFD700,
  768px 1070px #FFD700, 468px 194px #FFD700, 320px 1867px #FFD700, 1850px 185px #FFD700,
  380px 1616px #FFD700, 468px 1294px #FFD700, 1122px 1743px #FFD700, 884px 299px #FFD700,
  1300px 1917px #FFD700, 1860px 396px #FFD700, 1270px 990px #FFD700, 529px 733px #FFD700,
  1975px 1347px #FFD700, 1885px 685px #FFD700, 226px 506px #FFD700, 651px 878px #FFD700,
  1323px 680px #FFD700, 1284px 680px #FFD700, 238px 1967px #FFD700, 911px 174px #FFD700,
  1111px 521px #FFD700, 1150px 85px #FFD700, 794px 502px #FFD700, 484px 1856px #FFD700,
  1809px 368px #FFD700, 112px 953px #FFD700, 590px 1009px #FFD700, 1655px 311px #FFD700,
  100px 1026px #FFD700, 1803px 352px #FFD700, 865px 306px #FFD700, 1077px 1019px #FFD700,
  1335px 872px #FFD700, 1647px 1298px #FFD700, 1233px 1387px #FFD700, 698px 1036px #FFD700,
  659px 1860px #FFD700, 388px 1412px #FFD700, 1212px 458px #FFD700, 755px 1468px #FFD700,
  696px 1654px #FFD700, 1144px 60px #FFD700;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 1448px 320px #FFD700, 1775px 1663px #FFD700, 332px 1364px #FFD700,
  878px 340px #FFD700, 569px 1832px #FFD700, 1422px 1684px #FFD700, 1946px 1907px #FFD700,
  121px 979px #FFD700, 1044px 1069px #FFD700, 463px 381px #FFD700, 423px 112px #FFD700,
  523px 1179px #FFD700, 779px 654px #FFD700, 1398px 694px #FFD700, 1085px 1464px #FFD700,
  1599px 1869px #FFD700, 801px 1882px #FFD700, 779px 1231px #FFD700, 552px 932px #FFD700,
  1057px 1196px #FFD700, 282px 1280px #FFD700, 496px 1986px #FFD700, 1833px 1120px #FFD700,
  1802px 1293px #FFD700, 6px 1696px #FFD700, 412px 1902px #FFD700, 605px 438px #FFD700,
  24px 1212px #FFD700, 234px 1320px #FFD700, 544px 344px #FFD700, 1107px 170px #FFD700,
  1603px 196px #FFD700, 905px 648px #FFD700, 68px 1458px #FFD700, 649px 1969px #FFD700,
  744px 675px #FFD700, 1127px 478px #FFD700, 714px 1814px #FFD700, 1486px 526px #FFD700,
  270px 1636px #FFD700, 1931px 149px #FFD700, 1807px 378px #FFD700, 8px 390px #FFD700,
  1415px 699px #FFD700, 1473px 1211px #FFD700, 1590px 141px #FFD700, 270px 1705px #FFD700,
  69px 1423px #FFD700, 1108px 1053px #FFD700, 1946px 128px #FFD700, 371px 371px #FFD700,
  1490px 220px #FFD700, 357px 1885px #FFD700, 363px 363px #FFD700, 1896px 1256px #FFD700,
  1979px 1050px #FFD700, 947px 1342px #FFD700, 1754px 242px #FFD700, 514px 974px #FFD700,
  65px 1477px #FFD700, 1840px 547px #FFD700, 950px 695px #FFD700, 459px 1150px #FFD700,
  1124px 1502px #FFD700, 481px 940px #FFD700, 680px 839px #FFD700, 797px 1169px #FFD700,
  1977px 1491px #FFD700, 734px 1724px #FFD700, 210px 298px #FFD700, 816px 628px #FFD700,
  686px 770px #FFD700, 1721px 267px #FFD700, 1663px 511px #FFD700, 1481px 1141px #FFD700,
  582px 248px #FFD700, 1308px 953px #FFD700, 628px 657px #FFD700, 897px 1535px #FFD700,
  270px 931px #FFD700, 791px 467px #FFD700, 1336px 1732px #FFD700, 1013px 1653px #FFD700,
  1911px 956px #FFD700, 587px 816px #FFD700, 83px 456px #FFD700, 930px 1478px #FFD700,
  1587px 1694px #FFD700, 614px 1200px #FFD700, 302px 1782px #FFD700, 1711px 1432px #FFD700,
  443px 904px #FFD700, 1666px 714px #FFD700, 1588px 1167px #FFD700, 273px 1075px #FFD700,
  1679px 461px #FFD700, 721px 664px #FFD700, 1202px 10px #FFD700, 166px 1126px #FFD700,
  331px 1628px #FFD700, 430px 1565px #FFD700, 1585px 509px #FFD700, 640px 38px #FFD700,
  822px 837px #FFD700, 1760px 1664px #FFD700, 1122px 1458px #FFD700, 398px 131px #FFD700,
  689px 285px #FFD700, 460px 652px #FFD700, 1627px 365px #FFD700, 348px 1648px #FFD700,
  819px 1946px #FFD700, 981px 1917px #FFD700, 323px 76px #FFD700, 979px 684px #FFD700,
  887px 536px #FFD700, 1348px 1596px #FFD700, 1055px 666px #FFD700, 1402px 1797px #FFD700,
  1300px 1055px #FFD700, 937px 238px #FFD700, 1474px 1815px #FFD700, 1144px 1710px #FFD700,
  1629px 1087px #FFD700, 911px 919px #FFD700, 771px 819px #FFD700, 403px 720px #FFD700,
  163px 736px #FFD700, 1062px 238px #FFD700, 1774px 818px #FFD700, 1874px 1178px #FFD700,
  1177px 699px #FFD700, 1244px 1244px #FFD700, 1371px 58px #FFD700, 564px 1515px #FFD700,
  1824px 487px #FFD700, 929px 702px #FFD700, 394px 1348px #FFD700, 1161px 641px #FFD700,
  219px 1841px #FFD700, 358px 941px #FFD700, 140px 1759px #FFD700, 1019px 1345px #FFD700,
  274px 436px #FFD700, 1433px 1605px #FFD700, 1798px 1426px #FFD700, 294px 1848px #FFD700,
  1681px 1877px #FFD700, 1344px 1824px #FFD700, 1439px 1632px #FFD700,
  161px 1012px #FFD700, 1308px 588px #FFD700, 1789px 582px #FFD700, 721px 1910px #FFD700,
  318px 218px #FFD700, 607px 319px #FFD700, 495px 535px #FFD700, 1552px 1575px #FFD700,
  1562px 67px #FFD700, 403px 926px #FFD700, 1096px 1800px #FFD700, 1814px 1709px #FFD700,
  1882px 1831px #FFD700, 533px 46px #FFD700, 823px 969px #FFD700, 530px 165px #FFD700,
  1030px 352px #FFD700, 1681px 313px #FFD700, 338px 115px #FFD700, 1607px 211px #FFD700,
  1718px 1184px #FFD700, 1589px 659px #FFD700, 278px 355px #FFD700, 464px 1464px #FFD700,
  1165px 277px #FFD700, 950px 694px #FFD700, 1746px 293px #FFD700, 793px 911px #FFD700,
  528px 773px #FFD700, 1883px 1694px #FFD700, 748px 182px #FFD700, 1924px 1531px #FFD700,
  100px 636px #FFD700, 1473px 1445px #FFD700, 1264px 1244px #FFD700, 850px 1377px #FFD700,
  987px 1976px #FFD700, 933px 1761px #FFD700, 922px 1270px #FFD700, 500px 396px #FFD700,
  1324px 8px #FFD700, 1967px 1814px #FFD700, 1072px 1401px #FFD700, 961px 37px #FFD700,
  156px 81px #FFD700, 1915px 502px #FFD700, 1076px 1846px #FFD700, 152px 1669px #FFD700,
  986px 1529px #FFD700, 1667px 1137px #FFD700;
}

#stars2:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #FFD700, 1775px 1663px #FFD700, 332px 1364px #FFD700,
  878px 340px #FFD700, 569px 1832px #FFD700, 1422px 1684px #FFD700, 1946px 1907px #FFD700,
  121px 979px #FFD700, 1044px 1069px #FFD700, 463px 381px #FFD700, 423px 112px #FFD700,
  523px 1179px #FFD700, 779px 654px #FFD700, 1398px 694px #FFD700, 1085px 1464px #FFD700,
  1599px 1869px #FFD700, 801px 1882px #FFD700, 779px 1231px #FFD700, 552px 932px #FFD700,
  1057px 1196px #FFD700, 282px 1280px #FFD700, 496px 1986px #FFD700, 1833px 1120px #FFD700,
  1802px 1293px #FFD700, 6px 1696px #FFD700, 412px 1902px #FFD700, 605px 438px #FFD700,
  24px 1212px #FFD700, 234px 1320px #FFD700, 544px 344px #FFD700, 1107px 170px #FFD700,
  1603px 196px #FFD700, 905px 648px #FFD700, 68px 1458px #FFD700, 649px 1969px #FFD700,
  744px 675px #FFD700, 1127px 478px #FFD700, 714px 1814px #FFD700, 1486px 526px #FFD700,
  270px 1636px #FFD700, 1931px 149px #FFD700, 1807px 378px #FFD700, 8px 390px #FFD700,
  1415px 699px #FFD700, 1473px 1211px #FFD700, 1590px 141px #FFD700, 270px 1705px #FFD700,
  69px 1423px #FFD700, 1108px 1053px #FFD700, 1946px 128px #FFD700, 371px 371px #FFD700,
  1490px 220px #FFD700, 357px 1885px #FFD700, 363px 363px #FFD700, 1896px 1256px #FFD700,
  1979px 1050px #FFD700, 947px 1342px #FFD700, 1754px 242px #FFD700, 514px 974px #FFD700,
  65px 1477px #FFD700, 1840px 547px #FFD700, 950px 695px #FFD700, 459px 1150px #FFD700,
  1124px 1502px #FFD700, 481px 940px #FFD700, 680px 839px #FFD700, 797px 1169px #FFD700,
  1977px 1491px #FFD700, 734px 1724px #FFD700, 210px 298px #FFD700, 816px 628px #FFD700,
  686px 770px #FFD700, 1721px 267px #FFD700, 1663px 511px #FFD700, 1481px 1141px #FFD700,
  582px 248px #FFD700, 1308px 953px #FFD700, 628px 657px #FFD700, 897px 1535px #FFD700,
  270px 931px #FFD700, 791px 467px #FFD700, 1336px 1732px #FFD700, 1013px 1653px #FFD700,
  1911px 956px #FFD700, 587px 816px #FFD700, 83px 456px #FFD700, 930px 1478px #FFD700,
  1587px 1694px #FFD700, 614px 1200px #FFD700, 302px 1782px #FFD700, 1711px 1432px #FFD700,
  443px 904px #FFD700, 1666px 714px #FFD700, 1588px 1167px #FFD700, 273px 1075px #FFD700,
  1679px 461px #FFD700, 721px 664px #FFD700, 1202px 10px #FFD700, 166px 1126px #FFD700,
  331px 1628px #FFD700, 430px 1565px #FFD700, 1585px 509px #FFD700, 640px 38px #FFD700,
  822px 837px #FFD700, 1760px 1664px #FFD700, 1122px 1458px #FFD700, 398px 131px #FFD700,
  689px 285px #FFD700, 460px 652px #FFD700, 1627px 365px #FFD700, 348px 1648px #FFD700,
  819px 1946px #FFD700, 981px 1917px #FFD700, 323px 76px #FFD700, 979px 684px #FFD700,
  887px 536px #FFD700, 1348px 1596px #FFD700, 1055px 666px #FFD700, 1402px 1797px #FFD700,
  1300px 1055px #FFD700, 937px 238px #FFD700, 1474px 1815px #FFD700, 1144px 1710px #FFD700,
  1629px 1087px #FFD700, 911px 919px #FFD700, 771px 819px #FFD700, 403px 720px #FFD700,
  163px 736px #FFD700, 1062px 238px #FFD700, 1774px 818px #FFD700, 1874px 1178px #FFD700,
  1177px 699px #FFD700, 1244px 1244px #FFD700, 1371px 58px #FFD700, 564px 1515px #FFD700,
  1824px 487px #FFD700, 929px 702px #FFD700, 394px 1348px #FFD700, 1161px 641px #FFD700,
  219px 1841px #FFD700, 358px 941px #FFD700, 140px 1759px #FFD700, 1019px 1345px #FFD700,
  274px 436px #FFD700, 1433px 1605px #FFD700, 1798px 1426px #FFD700, 294px 1848px #FFD700,
  1681px 1877px #FFD700, 1344px 1824px #FFD700, 1439px 1632px #FFD700,
  161px 1012px #FFD700, 1308px 588px #FFD700, 1789px 582px #FFD700, 721px 1910px #FFD700,
  318px 218px #FFD700, 607px 319px #FFD700, 495px 535px #FFD700, 1552px 1575px #FFD700,
  1562px 67px #FFD700, 403px 926px #FFD700, 1096px 1800px #FFD700, 1814px 1709px #FFD700,
  1882px 1831px #FFD700, 533px 46px #FFD700, 823px 969px #FFD700, 530px 165px #FFD700,
  1030px 352px #FFD700, 1681px 313px #FFD700, 338px 115px #FFD700, 1607px 211px #FFD700,
  1718px 1184px #FFD700, 1589px 659px #FFD700, 278px 355px #FFD700, 464px 1464px #FFD700,
  1165px 277px #FFD700, 950px 694px #FFD700, 1746px 293px #FFD700, 793px 911px #FFD700,
  528px 773px #FFD700, 1883px 1694px #FFD700, 748px 182px #FFD700, 1924px 1531px #FFD700,
  100px 636px #FFD700, 1473px 1445px #FFD700, 1264px 1244px #FFD700, 850px 1377px #FFD700,
  987px 1976px #FFD700, 933px 1761px #FFD700, 922px 1270px #FFD700, 500px 396px #FFD700,
  1324px 8px #FFD700, 1967px 1814px #FFD700, 1072px 1401px #FFD700, 961px 37px #FFD700,
  156px 81px #FFD700, 1915px 502px #FFD700, 1076px 1846px #FFD700, 152px 1669px #FFD700,
  986px 1529px #FFD700, 1667px 1137px #FFD700;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 150s linear infinite;
  box-shadow: 387px 1878px #FFD700, 760px 1564px #FFD700, 1487px 999px #FFD700,
  948px 1828px #FFD700, 1977px 1001px #FFD700, 1284px 1963px #FFD700, 656px 284px #FFD700,
  1268px 1635px #FFD700, 1820px 598px #FFD700, 642px 1900px #FFD700, 296px 57px #FFD700,
  921px 1620px #FFD700, 476px 1858px #FFD700, 658px 613px #FFD700, 1171px 1363px #FFD700,
  1419px 283px #FFD700, 1037px 731px #FFD700, 503px 663px #FFD700, 1562px 463px #FFD700,
  383px 1197px #FFD700, 1171px 1233px #FFD700, 876px 1768px #FFD700, 856px 1615px #FFD700,
  1375px 1924px #FFD700, 1725px 918px #FFD700, 952px 119px #FFD700, 768px 1212px #FFD700,
  992px 1462px #FFD700, 1929px 717px #FFD700, 1947px 755px #FFD700, 1818px 1123px #FFD700,
  1896px 1672px #FFD700, 460px 198px #FFD700, 256px 271px #FFD700, 752px 544px #FFD700,
  1222px 1859px #FFD700, 1851px 443px #FFD700, 313px 1858px #FFD700, 709px 446px #FFD700,
  1546px 697px #FFD700, 674px 1155px #FFD700, 1112px 130px #FFD700, 355px 1790px #FFD700,
  1496px 974px #FFD700, 1696px 480px #FFD700, 1316px 1265px #FFD700, 1645px 1063px #FFD700,
  1182px 237px #FFD700, 427px 1582px #FFD700, 859px 253px #FFD700, 458px 939px #FFD700,
  1517px 1644px #FFD700, 1943px 60px #FFD700, 212px 1650px #FFD700, 966px 1786px #FFD700,
  473px 712px #FFD700, 130px 76px #FFD700, 1417px 1186px #FFD700, 909px 1580px #FFD700,
  1913px 762px #FFD700, 204px 1143px #FFD700, 1998px 1057px #FFD700, 1468px 1301px #FFD700,
  144px 1676px #FFD700, 21px 1601px #FFD700, 382px 1362px #FFD700, 912px 753px #FFD700,
  1488px 1405px #FFD700, 802px 156px #FFD700, 174px 550px #FFD700, 338px 1366px #FFD700,
  1197px 774px #FFD700, 602px 486px #FFD700, 682px 1877px #FFD700, 348px 1503px #FFD700,
  407px 1139px #FFD700, 950px 1400px #FFD700, 922px 1139px #FFD700, 1697px 293px #FFD700,
  1238px 1281px #FFD700, 1038px 1197px #FFD700, 376px 1889px #FFD700,
  1255px 1680px #FFD700, 1008px 1316px #FFD700, 1538px 1447px #FFD700,
  1186px 874px #FFD700, 1967px 640px #FFD700, 1341px 19px #FFD700, 29px 1732px #FFD700,
  16px 1650px #FFD700, 1021px 1075px #FFD700, 723px 424px #FFD700, 1175px 41px #FFD700,
  494px 1957px #FFD700, 1296px 431px #FFD700, 175px 1507px #FFD700, 831px 121px #FFD700,
  498px 1947px #FFD700, 617px 880px #FFD700, 240px 403px #FFD700;
}

#stars3:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px #FFD700, 760px 1564px #FFD700, 1487px 999px #FFD700,
  948px 1828px #FFD700, 1977px 1001px #FFD700, 1284px 1963px #FFD700, 656px 284px #FFD700,
  1268px 1635px #FFD700, 1820px 598px #FFD700, 642px 1900px #FFD700, 296px 57px #FFD700,
  921px 1620px #FFD700, 476px 1858px #FFD700, 658px 613px #FFD700, 1171px 1363px #FFD700,
  1419px 283px #FFD700, 1037px 731px #FFD700, 503px 663px #FFD700, 1562px 463px #FFD700,
  383px 1197px #FFD700, 1171px 1233px #FFD700, 876px 1768px #FFD700, 856px 1615px #FFD700,
  1375px 1924px #FFD700, 1725px 918px #FFD700, 952px 119px #FFD700, 768px 1212px #FFD700,
  992px 1462px #FFD700, 1929px 717px #FFD700, 1947px 755px #FFD700, 1818px 1123px #FFD700,
  1896px 1672px #FFD700, 460px 198px #FFD700, 256px 271px #FFD700, 752px 544px #FFD700,
  1222px 1859px #FFD700, 1851px 443px #FFD700, 313px 1858px #FFD700, 709px 446px #FFD700,
  1546px 697px #FFD700, 674px 1155px #FFD700, 1112px 130px #FFD700, 355px 1790px #FFD700,
  1496px 974px #FFD700, 1696px 480px #FFD700, 1316px 1265px #FFD700, 1645px 1063px #FFD700,
  1182px 237px #FFD700, 427px 1582px #FFD700, 859px 253px #FFD700, 458px 939px #FFD700,
  1517px 1644px #FFD700, 1943px 60px #FFD700, 212px 1650px #FFD700, 966px 1786px #FFD700,
  473px 712px #FFD700, 130px 76px #FFD700, 1417px 1186px #FFD700, 909px 1580px #FFD700,
  1913px 762px #FFD700, 204px 1143px #FFD700, 1998px 1057px #FFD700, 1468px 1301px #FFD700,
  144px 1676px #FFD700, 21px 1601px #FFD700, 382px 1362px #FFD700, 912px 753px #FFD700,
  1488px 1405px #FFD700, 802px 156px #FFD700, 174px 550px #FFD700, 338px 1366px #FFD700,
  1197px 774px #FFD700, 602px 486px #FFD700, 682px 1877px #FFD700, 348px 1503px #FFD700,
  407px 1139px #FFD700, 950px 1400px #FFD700, 922px 1139px #FFD700, 1697px 293px #FFD700,
  1238px 1281px #FFD700, 1038px 1197px #FFD700, 376px 1889px #FFD700,
  1255px 1680px #FFD700, 1008px 1316px #FFD700, 1538px 1447px #FFD700,
  1186px 874px #FFD700, 1967px 640px #FFD700, 1341px 19px #FFD700, 29px 1732px #FFD700,
  16px 1650px #FFD700, 1021px 1075px #FFD700, 723px 424px #FFD700, 1175px 41px #FFD700,
  494px 1957px #FFD700, 1296px 431px #FFD700, 175px 1507px #FFD700, 831px 121px #FFD700,
  498px 1947px #FFD700, 617px 880px #FFD700, 240px 403px #FFD700;
}


@keyframes animStar {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-2000px);
  }
}