.image1M {
    transform: translateZ(100vw);
    margin-right: 1000px;
}
.image2M {
    transform: rotateY(-120deg) translateZ(100vw);
}
.image3M {
    transform: rotateY(120deg) translateZ(100vw);
}
.slider {
    width: 100%;
    position: relative;
    margin-bottom: 40vh;
    transform-style: preserve-3d;
    animation: slider 6s infinite;
  }
@media(min-width: 600px){
    .slider{
        margin-bottom: 54vh;
    }
}
@keyframes slider {
    0%, 30%{ transform: rotateY(-2.5deg); }
    33.33333%, 63.33333%{ transform: rotateY(-119deg); }
    66.66666%, 96.66666%{ transform: rotateY(-239deg); }
    100%{ transform: rotateY(-360deg); }
}
@-webkit-keyframes slider {
    0%, 30%{ transform: rotateY(-2.5deg); }
    33.33333%, 63.33333%{ transform: rotateY(-119deg); }
    66.66666%, 96.66666%{ transform: rotateY(-239deg); }
    100%{ transform: rotateY(-360deg); }
}