
.dj-lights-row-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.dj-lights-row {
    position: relative;
    display: flex;
    animation: change-color 5s linear infinite;
}

@keyframes change-color {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.dot {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background: #3ae3f6;
    box-shadow: 0 0 10px #3ae3f6,
        0 0 20px #3ae3f6,
        0 0 40px #3ae3f6,
        0 0 60px #3ae3f6,
        0 0 80px #3ae3f6,
        0 0 100px #3ae3f6;
    margin: 20px 10px;
    transform: scale(0.1);
    border-radius: 50%;
    animation: animate-dot 2s linear infinite;
}

@keyframes animate-dot {
    0% {
        transform: scale(0.1);
    }

    10% {
        transform: scale(1);
    }

    50%,
    100% {
        transform: scale(0.1);
    }
}