.event-page-new {
  display: grid;
  place-items: center center;
  max-width: 100%;
  justify-self: center;
}

.event-cards-new {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 2rem 12%;
  gap: 4rem;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .event-cards-new {
    padding: 2rem 9%;
    gap: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .event-cards-new {
    padding: 2rem 6%;
    gap: 2rem;
  }
}
