/* ================== Root ====================== */
html {
  max-height: 160vh;
  cursor: url("../src/assets/cursor.svg") 10 10, auto !important;
  background-image: url("./assets/backdrop.webp") !important;
  background-color: black;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
}

body {
  min-height: 100vh;
  max-height: 150vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  /* background: black; */
  background: inherit;
  /* background-size: cover; */
  font-size: 1.33rem;
}

@media (min-width: 1200px) {
  body {
    /* for scrollbar*/
    margin-left: 0px; /*25px*/
    float: left;
    margin-bottom: 25px;
  }
  #thin::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  #thin::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0a0111;
  }

  #thin::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.44, goldenrod),
      color-stop(0.72, goldenrod),
      color-stop(0.86, goldenrod)
    );
  }
}
@media (max-width: 800px) {
  html,
  body {
    position: relative;
    overflow-x: hidden;
  }
}
/* =================== LOGO ====================== */
/* .logo {
  transition: all 0.3s ease-in-out;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.logo-home {
  position: fixed;
  height: 100vw;
  width: 100vw;
  font-size: 200px !important;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  padding-bottom: 100px;
}

@media only screen and (min-width: 768px) {
  .logo-home {
    height: 450px;
    width: 650px;
    vertical-align: middle;
  }
}

.logo-header {
  height: 200px;
  font-size: 20px !important;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 150px;
  top: 70px;
  left: 320px;
  z-index: 999;
} */

/* home page gradient  */

img {
  opacity: 1 !important;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.heading {
  margin-top: 72px;
}

.black {
  background-color: #0f0f0f;
  opacity: 1;
  color: white;
}

.footer {
  background: linear-gradient(90deg, #1b2d50 0%, #0a0111 100%);
  margin: auto;
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 25px;
}

.option {
  cursor: pointer;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
  font-size: 1.75rem;
  padding: 5px;
}

.nav-link:hover {
  color: goldenrod;
  letter-spacing: 0.27em;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 23px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-1px, 1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding-top: 0;
  right: 0;
  top: 0;
  background: black;
  opacity: 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  font-weight: bold;
}

@media (max-height: 580px) {
  #menu li {
    padding: 3.5px 0;
  }
}

@media (max-height: 400px) {
  #menu li {
    padding: 2px 0;
  }
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 0.7;
}

.full-height {
  min-height: 100vh;
}
/*for srijan logo*/
.img-logo {
  height: 180px;
  width: 360px;
}

.btnFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  /* justify-content: center; */
}
@media screen and (max-width: 820px) {
  .btnFlex {
    display: none;
  }
}
.btn-event {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  line-height: 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
}
@media (min-width: 600px) {
  .btn-event {
    margin: 0 3em 1.2em;
  }
}
.btn-event:hover {
  text-decoration: none;
  color: #fff;
  border: 0px;
}

.btn-2 {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  border: 0px;
}
button :focus {
  outline: none !important;
}
a :focus {
  outline: none !important;
}
.nav-link :focus {
  outline: none !important;
}
.btn-2:after {
  position: absolute;
  transition: 0.3s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 0;
  height: 2px;
  background: #f7f7f7;
  /* border: 0px; */
}
.btn-2:hover {
  cursor: pointer;
}
.btn-2:hover:after {
  width: 100%;
  left: 0;
}
.btn-2:focus {
  box-shadow: none;
}
.active-bottom {
  border-bottom: 2px solid white;
}

.borderImgWrapper {
  border: 1px solid;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    94.75deg,
    #d19a08,
    #fedb7e 27.6%,
    #eac460 50%,
    #d19a08 66.15%,
    #d19a08
  );
  -webkit-background-clip: text;
  padding: 4px;
}

.title {
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: -2px;
  background: linear-gradient(
    94.75deg,
    #d19a08,
    #fedb7e 27.6%,
    #eac460 50%,
    #d19a08 66.15%,
    #d19a08
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px !important;
  font-family: "Montserrat", sans-serif;
  /* font-size: 2.2rem; */
  /* text-shadow: 2px 2px 2px #aaa; */
}

.title:hover {
  color: linear-gradient(
    94.75deg,
    #d19a08,
    #fedb7e 27.6%,
    #eac460 50%,
    #d19a08 66.15%,
    #d19a08
  );
}

.homeCard {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 30px 0 goldenrod;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(252, 252, 252);
  padding: 10px !important;
}

.nav-link {
  padding: 0 !important;
}

.header-link {
  font-size: 1.05rem;
}

@media (min-height: 400px) {
  .header-link {
    font-size: 1.3rem;
  }
}

@media (min-height: 520px) {
  .header-link {
    font-size: 1.5rem;
  }
}

.gradient-outline-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(
    94.75deg,
    #d19a08,
    #fedb7e 27.6%,
    #eac460 50%,
    #d19a08 66.15%,
    #d19a08
  );
  width: fit-content;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: relative;
  margin-bottom: 50px;
  padding: 2px;
}
