.sponsors {
  padding: 75px 15px;
  color: white;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sponsors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.sponsors-list a {
  margin: 0 30px 30px;
}

@media only screen and (max-width: 980px) {
  .sponsors-list a {
    margin: 0 15px;
  }
}

.sponsors-list a img {
  padding: 20px 0;
  height: 200px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.sponsors-list a:hover img {
  opacity: 0.55;
}

.more {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cap-logo {
  width: auto;
  height: auto !important;
}
@media only screen and (max-width: 500px) {
  .cap-logo {
    height: auto;
  }
}
